body {
  font-family: "Poppins", sans-serif;
}

/* Centrar los enlaces del menú */
.navbar-nav .nav-link {
  color: white !important;
  margin: 0 15px;
  font-weight: 500;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
}

.row-zero {
  background-color: #f8d7da !important;
  color: #842029;
  font-weight: 500;
}
.row-zero i {
  margin-right: 5px;
}


/* Estilos para el botón de imprimir reporte */
@media print {
  nav, .btn, .alert {
    display: none !important;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #888 !important;
    padding: 6px;
  }
}
/*iverson  */
