body {
  font-family: "Poppins", sans-serif;
}

/* Centrar los enlaces del menú */
.navbar-nav .nav-link {
  color: white !important;
  margin: 0 15px;
  font-weight: 500;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
}

/* Fila de producto agotado */
.row-zero {
  background-color: #f8d7da !important; /* rojo claro */
  color: #842029;
  font-weight: 500;
}
.row-zero i {
  margin-right: 5px;
}
